body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    padding-top: 10px;
    color: rgb(95, 93, 93);
   
}
h2{
    color: rgb(73, 71, 71);
}
.orange-text{
    color: orange;
}
.half-width{
   
  width: 50%;
}
.half-width img{
    width: 80%;
}

.topbanner-flexiblecontainer{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 5%;
    
}

.button{
    
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 100;
    margin-top: 100px;  
}
.top-img{
    background-repeat: no-repeat;

}
#recipe{
    padding-top: 10px;
    height: 50%;
    width: 100%;
    border-radius: 5px;
}
.About{
    padding-top: 5%;
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
  

}
.Recipe-container{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    

   
}
#mid{
    text-align: center;
}

.bd{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px grey;
    border-radius: 5%;
    padding-left: 10px;
    padding-right: 10px;
   
}
p{
    padding-right: 5%;
    
}
.Followers{
    margin-top: 5%;
    display: flex;
    box-shadow:5px 5px 20px grey;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    
}
.socials{
    width: 40%;
    height: 40%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
   

}
#person{
    
        max-width: 50%;
        height: auto;
        padding-left: 30%;
    

}
#white{
    color: ivory;
}
footer{
    text-align: center;
    padding: 5%;
    background-color: rgb(18, 1, 29);
  
}
.search{
padding-top: 5%;
    text-align: center;
    padding-right: 40%;
    padding-left: 40%;
    padding-bottom: 5%;
    background-color: rgba(248, 191, 85, 0.116);

}
.Shop{
    text-align: center;
    background-image: url(images/food/Project\ Cover4.png);
    padding: 5% ;
}
.subscription{
    text-align: center;
   background-color: rgba(248, 191, 85, 0.116);
   padding-bottom: 5%;
   padding-top: 5%;
}
.container{
  
    display: inline;
}
